:root{
    /* color variables */
    --primary: cadetblue;
    --accent: crimson;
    --light: mistyrose;
    --dark: darkslategrey;
}

body {
    background-color: var(--primary);
    color: var(--light);
    display: block;
}

header {
    padding: 10px;
    margin: 10px;
}

button {
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    margin-left: 10px;
}

ul {
    list-style: none;
}

#high-scores li{
    font-size: 20px;
    border: var(--accent);
    padding: 10px;
    margin: 10px;
}